* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-mt-ar.ar.dix -text
/apertium-mt-ar.mt-ar.dix -text
/apertium-mt-ar.mt-ar.t1x -text
/apertium-mt-ar.mt.acx -text
/apertium-mt-ar.mt.dix -text
/apertium-mt-ar.mt.tsx -text
/apertium-mt-ar.post-ar.dix -text
/autogen.sh -text
/configure.ac -text
dev/ar_verbs/classes/__init__.py -text
dev/ar_verbs/classes/sound.py -text
dev/ar_verbs/stems.wiki -text
dev/ar_verbs/verb.py -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/mt_verbs/classes/__init__.py -text
dev/mt_verbs/classes/defective.py -text
dev/mt_verbs/classes/doubled.py -text
dev/mt_verbs/classes/hollow.py -text
dev/mt_verbs/classes/irregular.py -text
dev/mt_verbs/classes/loan.py -text
dev/mt_verbs/classes/quad.py -text
dev/mt_verbs/classes/strong.py -text
dev/mt_verbs/classes/weak.py -text
dev/mt_verbs/stems-irregular.wiki -text
dev/mt_verbs/stems-loan.wiki -text
dev/mt_verbs/stems-semitic.wiki -text
dev/mt_verbs/verb.py -text
dev/story/story.ar.txt -text svneol=unset#application/octet-stream
dev/story/story.mt.txt -text
dev/story/story.mtar.posted.txt -text svneol=unset#application/octet-stream
dev/story/story.mtar.txt -text svneol=unset#application/octet-stream
dev/testvoc-summary.mt-ar.txt -text
dev/testvoc.sh -text
dev/trimmed-coverage.sh -text
/lexchoicebil.xsl -text
/modes.xml -text
/mt-ar.prob -text
